.settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.settings-form label {
  font-weight: bold;
  font-size: 1rem;
}

/* Rows, Cols */

.row-and-col-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.row-or-col-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row-or-col-container label {
  height: auto;
  margin: auto;
  line-height: 1.1rem;
}

.row-or-col-container input {
  height: auto;
  margin: auto;
  line-height: 1.1rem;

  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Prompt pool */

.prompt-pool-container, .selected-prompts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.prompt-pool-container {
  height: 50vh;
}

.prompt-pool-container label {
  margin-left: 4px;
}

.prompt-pool-container textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  resize: none;
  box-sizing: border-box;
}

/* Selected prompts */

.btn-container {
  margin: 1rem auto;
}

.selected-prompts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected-prompts-container label {
  margin-left: 4px;
}

.selected-prompts-list {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: 10px;
}

.selected-prompts-list li{
  list-style-type: decimal;
  list-style-position: outside;
  padding: 6px;
  margin: 4px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}