.settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
}

.settings-form label {
  font-weight: bold;
  font-size: 1rem;
}

/* Rows, Cols */

.row-and-col-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 16rem;
  margin: 0 auto;
}

.row-or-col-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.row-or-col-container label {
  height: auto;
  margin: auto;
  font-size: 1rem;
  line-height: 1.1rem;
}

.row-or-col-container input {
  height: auto;
  margin: auto;
  line-height: 1.1rem;

  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Prompt pool */

.prompt-pool-container, .selected-prompts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.prompt-pool-container {
  height: 50vh;
}

.prompt-pool-container label {
  margin-left: 4px;
}

.prompt-pool-container textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;

  resize: none;
  box-sizing: border-box;
}

.prompt-pool-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.prompt-pool-header .select {
  max-width: 100%;
  margin: 0 0 0 auto;
}

/* Selected prompts */

.generate-btn-container {
  margin: 1rem auto;
}

.selected-prompts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selected-prompts-container label {
  margin-left: 4px;
}

.selected-prompts-list {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0.9rem;
}

.selected-prompts-list li{
  list-style-type: decimal;
  list-style-position: outside;
  padding: 0.25rem;
  /*margin: 4px;*/
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin: 0.25rem 0.5rem;
}