@import '../Header.module.css';

.header-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;

  padding: 0.5rem 0.5rem;
  min-width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.blue {
  background-color: var(--primary-button-color);
  color: var(--on-primary-button-color);
}

.blue:hover {
  background-color: var(--primary-button-color-hover);
}

.blue:disabled {
  background-color: #b0bec5;
  color: white;
  cursor: not-allowed;
}

.red {
  background-color: #f44336;
  color: white;
}

.red:hover {
  background-color: #d32f2f;
}

.green {
  background-color: #4CAF50;
  color: white;
}

.green:hover {
  background-color: #388E3C;
}