.settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.settings-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.settings-item label {
  font-weight: bold;
}

.settings-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Toggle */

.side-toggle-item {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}