@import "../WordGuessPlay.module.css";

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.secretWord {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}