.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.play h2 {
  margin-top: 0;
  font-size: 2rem;
}

.main-game-button {
  --height: 4rem;
  width: 12rem;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  font-size: calc(var(--height) / 2);
}

/* NEXT view */

.circle-container {
  width: 70%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: radial-gradient(circle, #ffd800, #fda400);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-weight: bold;
}

/* CARD view: card */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1.5;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-back {
  background-color: #e0e0e0;
  transform: rotateY(180deg);
}

/* CARD view: others */

.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 10rem;
}

.skip-button {

}

/* TIMEUP view */

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.secretWord {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* GUESSED view */

.pie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

/* WINNER view */

.winner-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  aspect-ratio: 1;
  position: relative;
}

.winner-circle-container img {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.main-game-button.text {
  font-size: 1.5rem;
}

.narrow-players-container {
  width: 70%;
}