@import "../WordGuessPlay.module.css";

.winner-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 18rem;
  aspect-ratio: 1;
  position: relative;
}

.winner-circle-container img {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.main-game-button.text {
  font-size: 1.5rem;
}

.winner-players-container {
  width: 65%;
  max-width: 16rem;
}