header h2 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: #555;
}

.config-container,
.play-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Settings */

.config-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.config-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.config-item label {
  font-weight: bold;
}

.config-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Play */

.challenge-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.challenge-container.truth {
  background-color: #e3f2fd;
}

.challenge-container.dare {
  background-color: #fbe9e7;
}

.game-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: auto;
}

.player-turn {
  text-align: center;
  margin-bottom: 20px;
}

/*.primary-button:hover,*/
/*.secondary-button:hover {*/
/*  opacity: 0.9;*/
/*}*/