header h2 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: #555;
}

.config-container,
.play-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Settings */

.config-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.config-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.config-item label {
  font-weight: bold;
}

.config-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time-limit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #ccc;
  padding: 8px;
  border-radius:24px;
}

.time-button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.time-button:hover {
  background-color: #e0e0e0;
}

.time-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.time-display {
  min-width: 5rem;
  text-align: center;
}

/* Play */

.challenge-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.challenge-container.truth {
  background-color: #e3f2fd;
}

.challenge-container.dare {
  background-color: #fbe9e7;
}

.game-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: auto;
}

.player-turn {
  text-align: center;
  margin-bottom: 20px;
}