.game-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center */
  flex: 1;
}

.game-page.settings > h2 {
  margin-top: 0;
}

.game-page.settings > .settings-content {
  margin: 0 auto;
}

.settings-content {
  width: 100%;
  /*max-width: 250px;*/  /* size limit is managed by children */
}