header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  background-color: var(--header-color);
  color: var(--on-header-color);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000; /* ensure header is above other content */
}

.header-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}

.header-title h1 {
  text-align: center;
  margin: 0;
  line-height: 2rem;
  max-width: calc(100vw - 14rem);  /* adjust for left/right buttons */
}

.button-pool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.left {
  position: absolute;
  left: 1rem;
}

.right {
  position: absolute;
  right: 1rem;
}