.game-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-card h3 {
  margin: 0 0 0.5rem 0;
  color: #333;
}

.game-card p {
  color: #666;
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
}

.game-card p:last-child {
  margin-bottom: 0;
}

.game-card-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1.5rem;
  align-items: center;
}

.game-card-details .icon {
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  width: 16px;
  height: 16px;
}

.game-card-details .icon:first-child {
  margin-left: 0;
}

.game-card-details .detail {  /* align with icons */
  position: relative;
  top: 0.1rem;
}