.install-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.install-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  gap: 1rem;
}

.install-button:hover {
  background-color: #45a049;
}

.install-button p {
  margin: 0;
}

.app-logo img {
  height: 8rem;
}

.install-message {
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.install-message p {
  margin: 0;
}
