.game-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
  color: var(--on-surface-color);
}

.title-container h3 {
  margin: 0;
}

.game-card-details, .game-card-desc {
  color: var(--on-surface-color-2);
  font-size: 0.9rem;
}

.game-card-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

.forbidden-people {
  color: var(--error-color);
  font-weight: bold;
}

.game-card-desc p {
  margin-bottom: 0;
}