.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  max-width: 15rem;
}

.slider-container input {
  flex: 1;
  min-width: 0;
}

.slider-container span {
  width: 1.5rem;
  height: 1rem;
  line-height: 1.1rem;
}