.App {

}

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  padding: 2rem;
  flex: 1;
  background-color: var(--background-color);
  color: var(--on-background-color);
}